* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 1.15rem;
}

section {
	padding: 10px 20px;
}

h2 {
	font-size: 2.5rem;
}

::placeholder {
	color: #535353;
	font-size: 0.9rem;
	opacity: 1;
}

.skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Header */

header section {
	background: #dddddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
}

ul li {
	display: inline;
	padding-left: 10px;
	text-transform: capitalize;
	font-size: 1.05rem;
}

ul li a {
	text-decoration: none;
	color: #3b3a3a;
	font-weight: 600;
}

ul li a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	header section {
		flex-wrap: wrap;
		padding-bottom: 20px;
	}

	img {
		width: 100%;
		margin-bottom: 10px;
	}

	nav {
		width: 100%;
	}

	ul {
		text-align: center;
	}

	ul li {
		font-size: 1.25rem;
	}
}

/* main */
/* hero-banner */
#hero-banner {
	background-image: url("images/hero-image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fffff0;
	row-gap: 1rem;
}

#hero-banner h1 {
	font-size: 4rem;
}

#hero-banner p {
	font-size: 2rem;
}

@media (max-width: 600px) {
	#hero-banner h1 {
		font-size: 2.25rem;
	}

	#hero-banner p {
		font-size: 1.25rem;
		text-align: center;
	}
}

/* about us */
#about-us {
	margin: 3rem 0rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;
}

/* service */

#services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
	background-color: #111111;
	color: #fffff0;
	padding: 3rem 0rem;
}

.service-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 4;
}

article img {
	width: 100%;
}

article * {
	padding-bottom: 10px;
}

article span a {
	color: #fffff0;
}

@media (max-width: 600px) {
	.service-details {
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}
	.div1 {
		grid-area: 1;
	}
	.div2 {
		grid-area: 2;
	}
	.div3 {
		grid-area: 3;
	}

	article {
		padding-bottom: 30px;
	}
}

/* contact */

#contact {
	display: flex;
	margin: 3rem;
	flex-direction: column;
	row-gap: 2rem;
	justify-content: center;
	align-items: center;
}

form {
	width: 50%;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	padding: 10px 0px;
}

input,
textarea {
	padding: 10px;
	font-size: 0.9rem;
}

button {
	margin-top: 20px;
	padding: 15px 20px;
	font-size: 1rem;
	background-color: #3b3a3a;
	color: #fffff0;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #3b3a3ad8;
}

.error {
	color: rgb(170, 2, 2);
}

.success {
	color: rgb(3, 104, 3);
}

#form-message {
	padding-top: 10px;
}

@media (max-width: 600px) {
	form,
	input,
	label {
		width: 100%;
	}
}

/* footer */
footer {
	background-color: #cccbcb;
	color: #3b3a3a;
	padding: 4rem 0rem 0rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

#comm {
	display: flex;
	justify-content: space-between;
}

#comm div {
	width: 50%;
}

#info {
	text-align: right;
}

#comm ul {
	list-style: none;
}

#comm ul li {
	display: block;
}

footer ul li a {
	color: 3b3a3a;
	text-decoration: underline;
	font-weight: 400;
}

#copyright {
	border-top: 1px solid #3b3a3a;
	text-align: center;
	background-color: #111111;
	color: #fffff0;
}

@media (max-width: 600px) {
	#comm {
		flex-wrap: wrap;
		row-gap: 1rem;
		justify-content: center;
		align-items: center;
	}
	#comm div {
		width: 100%;
	}

	#comm ul li {
		padding: 5px;
		text-align: center;
		text-transform: none;
	}
}
